   body {
        background-color: #212220;
        color: #ffffff;
      }
      .center {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #clock {
        font-size: 40px;
        background-color: orange;
        padding: 20px 50px;
        margin-top: 10px;
        border-radius: 10px;
      }
      /* .clock1 {
  width: 200px;
  height: 200px;
  border: 8px solid black;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
}

.hand {
  position: absolute;
  width: 50%;
  height: 2px;
  background: black;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.hour {
  height: 4px;
  width: 35%;
} */

.minute {
  height: 3px;
  width: 45%;
}

.second {
  background: red;
}