table,
      th,
      td {
        border: 1px solid #e7e5ed;
      }
      .project {
        background-color: #0f0e0e;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
      }

      .color {
        color: aliceblue;
        display: flex;
        flex-direction: row;
      }